JWT_SECRET="ANY_SECRET_KEY"

CORS=*

MONGODB_URI="YOUR MONGODB_URI"
IMAGEKIT_PRIVATE_KEY="YOUR PRIVATE_KEY"
PORT=3000

OPENAI_API_KEY="YOUR GEMINI_KEY"
OPENAI_BASE_URL = "https://generativelanguage.googleapis.com/v1beta/openai/"
OPENAI_MODEL = "gemini-2.5-flash"